<m-table-header header="VALIDADOR.TITLE">
  <m-userFilter-input (onSearch)="getPedidosPorValidar({provName: $event})" (onClear)="limpiarFiltros()"></m-userFilter-input>
  <m-trackFilter-input (onSearch)="getPedidosPorValidar({trFilterValue: $event})" (onClear)="limpiarFiltros()"></m-trackFilter-input>
  <m-expFilter-input (onSearch)="getPedidosPorValidar({expediente: $event})" (onClear)="limpiarFiltros()"></m-expFilter-input>
  <m-refCargaFilter-input (onSearch)="getPedidosPorValidar({refCharge: $event})" (onClear)="limpiarFiltros()"></m-refCargaFilter-input>
</m-table-header>


<m-table id="pval_table" class="page__content pval__table" 
  [headers]="tableHeaders" 
  [hasCheckableColumn]="true"
  [canCheckMultipleColumns]="false"
  [scroller$]="tableScroller$"
  [sortItems]="pedidos"
  (columnSorted)="onColumnSorted($event)">

  <ng-container *ngFor="let pedido of pedidos; trackBy: pValidadorTrackById">
    <m-row [id]="'fila-'+pedido.track+'-'+pedido.expediente" 
      [key]="pedido.proveedorKy"  
      [isSelectedRow]="pedido.isSelected" 
      [isGrupRow]="pedido.isGrupaje" 
      [isSelectedGrup]="pedido.isSelected && pedido.isGrupaje"
      [isNoAplicaRow]="pedido.isGrupaje && (pedido.hasCMR===7 || pedido.hasCMR===2)"
      [isNoAplicaSelectedRow]="pedido.isSelected && pedido.isGrupaje && (pedido.hasCMR===7 || pedido.hasCMR===2)"
      (click)="onClick(pedido)" 
      (doubleClickEvent)="onDoubleClick(pedido)">

      <m-cell class="pval__fitcontent">
        <input type="checkbox" 
          [id]="'check-'+pedido.track+'-'+pedido.expediente"
          name="{{ pedido.expediente }}" 
          [checked]="pedido.isCheckActive"
          (change)="onCheckboxChanged($event, pedido)" 
          (click)="$event.stopPropagation()" />
      </m-cell>

      <m-cell>{{ pedido.proveedor }}</m-cell>
      <m-cell>{{ pedido.proveedorUser }}</m-cell>
      <m-cell>{{ pedido.grupaje ? pedido.grupTR : pedido.track }}</m-cell>
      <m-cell>{{ pedido.expediente }}</m-cell>
      <m-cell class="pval__mincontentFecha">{{ pedido.fechaCarga }}</m-cell>
      <m-cell>{{ pedido.refCarga }}</m-cell>
      <m-cell class="pval__mincontentFecha">{{ pedido.fechaDescarga }}</m-cell>
      <m-cell>{{ pedido.refDescarga }}</m-cell>
      <m-cell class="pval__fitcontent">{{ pedido.origen }}</m-cell>
      <m-cell class="pval__maxcontent">{{ pedido.destino }}</m-cell>
      <m-cell class="pval__fitcontent">{{ pedido.numPalets }}</m-cell>
      <m-cell class="pval__fitcontent">{{ pedido.matriculaCamion }}</m-cell>
      <m-cell class="pval__fitcontent">{{ pedido.matriculaRemolque }}</m-cell>
      <m-cell class="pval__mincontentFecha">{{ pedido.fechaSubidaCMRshort }}</m-cell>
      <m-cell class="pval__fitcontent">
        <span class="pval__icon-span" title="Anotaciones">
          <img class="pval__icon-span--anot" *ngIf="pedido.anotaciones==1" src="assets/images/icons/exclamation-red.png" />
        </span>
      </m-cell>
    </m-row>

    <!--SELECTED-FILE-ROW : ANOTACIONES : INDIVIDUALES -->
    <m-row *ngIf="!isExternoUser && pedido.isSelected && pedido.anotaciones==1 && pedido.estado!==3 && !pedido.isGrupaje" [isAddFilesRow]="pedido.isSelected">
      <td colspan="17">
        <div class="pval__esteRelative">
          <label *ngIf="pedido.anotaciones==1" class="pval__anotation__label">{{ pedido.motivoRechazo | translate }}</label>
        </div>
      </td>
    </m-row>
    <!--SELECTED-FILE-ROW : ANOTACIONES : GRUPAJES -->
    <m-row *ngIf="!isExternoUser && pedido.isSelected && pedido.anotaciones==1 && pedido.estado!==3 && pedido.isGrupaje && (pedido.hasCMR!==7 || pedido.hasCMR!==2)" [isAddFilesRow]="true">
      <td colspan="17">
        <div class="pval__esteRelative">
          <label *ngIf="pedido.anotaciones==1" class="pval__anotation__label">{{ pedido.motivoRechazo | translate }}</label>
        </div>
      </td>
    </m-row>
  </ng-container>

  <m-row *ngIf="not4validate" [isMessageRow]="not4validate">
    <td colspan="16">
      <div class="pval_esteRelative">
        <label class="pval__not4validate__label">{{ 'VALIDADOR.TABLE.NOT4VALIDATE' | translate }}</label>
      </div>
    </td>
  </m-row>

</m-table>


<m-view-val-docs-form id="viewValDocsModal" [opener$]="viewDocsModalOpener$" [pedidoSelected]="selectedPedido">
</m-view-val-docs-form>

<m-reject-cmr-form id="rejectModalA" [opener$]="rejectModalOpener$" [header]="rejectTitle" [pedidoSelected]="selectedPedido" [directRJCT]="true">
</m-reject-cmr-form>

<m-anota-val-cmr-form id="anotaModalA" [opener$]="anotaModalOpener$" [header]="anotaTitle" [pedidoSelected]="selectedPedido" [directANOT]="true">
</m-anota-val-cmr-form>


<m-action-button-container>
  <div left>
    <m-action-button *ngIf="canViewPedidosActivos" [disabled]="selectedPedido.isSelected" (click)="navigateToActivos()" icon="arrow-blue-left.png" [rightIcon]="false" [inverted]="true">
      {{ 'PEDIDOS_ACTIV.TITLE' | translate }}
    </m-action-button>
    <m-action-button (click)="refresh()" icon="refresh.png">
      {{ 'BUTTONS.REFRESH' | translate }}
    </m-action-button>
    <m-action-button [disabled]="!selectedPedido.isSelected || isConsultaUser" (click)="onAnotaCMRselected(selectedPedido)" icon="edit-white.png">
      {{ 'VALIDADOR.BUTTONS.ANOT_CMR' | translate }}
    </m-action-button>
    <div class="pval__aplica">
      <span class="pval__aplica--value" *ngIf="selectedPedido.isSelected && (selectedPedido.hasCMR===7 || selectedPedido.hasCMR===2)">{{ this.noAplica | translate }}</span>
    </div>
  </div>
  <div right>
     <m-action-button [disabled]="!selectedPedido.isSelected || (noAplica && this.selectedPedido.hasCMR===7)" (click)="onViewCMRselected(selectedPedido)" icon="document.png">
      {{ 'VALIDADOR.BUTTONS.VALIDATE_CMR' | translate }}
    </m-action-button>
    <m-action-button [disabled]="!selectedPedido.isSelected || noAplica || isConsultaUser" (click)="onRejectCMRselected(selectedPedido)" icon="cross.png">
      {{ 'VALIDADOR.BUTTONS.REJECT_CMR' | translate }}
    </m-action-button>
    <m-action-button *ngIf="canViewPedidosHistorico" [disabled]="selectedPedido.isSelected" (click)="navigateToHistorico()" icon="arrow-blue-right.png" [rightIcon]="true" [inverted]="true">
      {{ 'PEDIDOS_HIST.TITLE' | translate }}
    </m-action-button>
  </div>
</m-action-button-container>
