<!--<nav class="maintenance__nav">
  <ul class="maintenance__links">
    <li>
      <a *ngIf="canViewMaintenanceUsers" [routerLink]="['users']" class="maintenance__link maintenance__link--users">
        <span [innerHTML]="'MAINTENANCES.USUARIOS' | translate | homeLinkLastWord "></span>
      </a>
    </li>
    <li>
      <a disabled class="maintenance__link maintenance__link--returns">
        <span [innerHTML]="'MAINTENANCES.NEXT' | translate | homeLinkLastWord"></span>
      </a>
    </li>
    <li>
      <a disabled class="maintenance__link maintenance__link--returns">
        <span [innerHTML]="'MAINTENANCES.NEXT' | translate | homeLinkLastWord"></span>
      </a>
    </li>
    <li>
      <a disabled class="maintenance__link maintenance__link--returns">
        <span [innerHTML]="'MAINTENANCES.NEXT' | translate | homeLinkLastWord"></span>
      </a>
    </li>
    <li>
      <a disabled class="maintenance__link maintenance__link--returns">
        <span [innerHTML]="'MAINTENANCES.NEXT' | translate | homeLinkLastWord"></span>
      </a>
    </li>
  </ul>
</nav>
-->