<m-modal-anota [opener$]="modalOpener$" icon="assets/images/icons/big-warning.png" 
  [header]="header" [pedidoSelected]="pedidoSelected"
  [canBeClosed]="!isLoading" 
  [directANOT]="directANOT"
  (accepted)="acceptAnota()" 
  (deleted)="deleteAnota()"
  (canceled)="cancelAnota()">
  
  
  <div *ngIf="pedidoForm" [formGroup]="pedidoForm">
  
    <div class="form-group">
      <label for="anotacion-input">{{ 'PEDIDOS_HIST.FORM.ACTIONS.ANOTATION.ANOT' | translate }}</label>
    </div>
    <div class="form-group">
      <div class="form-group__field">
        <input type="text" id="anotacion-input" name="anotacion-input" formControlName="anotacion" />
        <div class="form-group__error">
          <span *ngIf="error('anotacion')">{{ error('anotacion') | translate }}</span>
        </div>
      </div>
    </div>
    
  </div>
</m-modal-anota>
