<m-modal [opener$]="opener$" 
  [canClose]="canBeClosed" 
  [header]="header" 
  [data]="data" 
  (closed)="cancel()">
  
  <form>
    <div class="modal-docs-activ__wrapper">
      <div class="modal-docs-activ__icon">
        <img src="{{ icon }}" />
      </div>
      <div class="modal-docs-activ__content">
        <ng-content select="[cmr]"></ng-content>
      </div>
      <div class="modal-docs-activ__content">
        <ng-content select="[fac]"></ng-content>
      </div>
    </div>

    <div *ngIf="!isUserExter && pedidoSelected.anotaciones==1 && pedidoSelected.hasCMR!==3 && pedidoSelected.hasFAC!==3" class="modal-docs-activ__anota-mesagge">{{ pedidoSelected.motivoRechazo | translate }}</div>
    <div *ngIf="pedidoSelected.hasCMR==3 && pedidoSelected.hasFAC!=3" class="modal-docs-activ__reject-mesagge">{{ pedidoSelected.motivoRechazo | translate }}</div>
    <div *ngIf="pedidoSelected.hasCMR!=3 && pedidoSelected.hasFAC==3" class="modal-docs-activ__reject-mesagge">{{ pedidoSelected.motivoRechazo | translate }}</div>
    <div *ngIf="pedidoSelected.hasCMR==3 && pedidoSelected.hasFAC==3" class="modal-docs-activ__reject-mesagge">{{ pedidoSelected.motivoRechazo | translate }}</div>

    <div class="modal-docs-activ__buttons">
      <m-spinner *ngIf="!canBeClosed" color="blue"></m-spinner>
      <m-action-button *ngIf="true" [disabled]="pedidoSelected.isBlocked"class="modal-docs-activ__button" icon="arrow-blue-down.png" [inverted]="true" (click)="downloadCMR()">   
        {{ 'PEDIDOS_ACTIV.FORM.BUTTONS.DOWNLOAD_CMR' | translate }}
      </m-action-button>
      <m-action-button *ngIf="true" [disabled]="pedidoSelected.isBlocked || isNotFACdoc" class="modal-docs-activ__button" icon="arrow-blue-down.png" [inverted]="true" (click)="downloadFAC()">   
        {{ 'PEDIDOS_ACTIV.FORM.BUTTONS.DOWNLOAD_FAC' | translate }}
      </m-action-button>
      <m-action-button *ngIf="canBeClosed" class="modal-docs-activ__button" icon="cross.png" (click)="cancel()">
        {{ 'PEDIDOS_ACTIV.FORM.BUTTONS.EXIT' | translate }}
      </m-action-button>
    </div>
  </form>

</m-modal>
