<div class="gestionPedidos__search">
  <form class="gestionPedidos__box">
    <label for="gestionPedidos-search" class="gestionPedidos__label">{{ 'GESTION_PEDIDOS.TITLE' | translate }}</label>
  </form>
</div>
<nav class="gestionPedidos__nav">
  <ul class="gestionPedidos__links">
    <li *ngIf="canViewPedidosActivos">
      <a [routerLink]="['pedidosActivos']" class="gestionPedidos__link gestionPedidos__link--activos">
        <span [innerHTML]="'MENU_ENTRY.PEDIDOS_ACTIVOS' | translate | homeLinkLastWord"></span>
      </a>
    </li>
    <li *ngIf="canViewPedidosValidador">
      <a [routerLink]="['pedidosValidador']" class="gestionPedidos__link gestionPedidos__link--validador">
        <span [innerHTML]="'MENU_ENTRY.PEDIDOS_VALIDADOR' | translate | homeLinkLastWord"></span>
      </a>
    </li>
    <li *ngIf="canViewPedidosHistorico">
      <a [routerLink]="['pedidosHistorico']" class="gestionPedidos__link gestionPedidos__link--historico">
        <span [innerHTML]="'MENU_ENTRY.PEDIDOS_HISTORICO' | translate | homeLinkLastWord"></span>
      </a>
    </li>
  </ul>
</nav>
