@import "~src/styles/base/index";

:host {
  position: relative;
  height: 100%;
}

.header-submenu-gestion-pedidos {
  &__button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: rem-calc(70);
  }

  &__img-menu {
    @include size(rem-calc(16));

    @include breakpoint("large") {
      @include size(rem-calc(20));
    }

    @include breakpoint("xlarge") {
      @include size(rem-calc(23));
    }
  }

  &__img-user {
    @include size(rem-calc(15), rem-calc(22));

    @include breakpoint("large") {
      @include size(rem-calc(18), rem-calc(25));
    }

    @include breakpoint("xlarge") {
      @include size(rem-calc(21), rem-calc(28));
    }
  }

  &__dropdown {
    display: none;
    position: absolute;
    z-index: 50;
    @include size(rem-calc(280), rem-calc(-5));
    background-color: $white;
    box-shadow: 0 rem-calc(4) rem-calc(10) rem-calc(2) rgba(0, 0, 0, 0.5);
    top: 4px;
    right: 0px;

    // @include breakpoint("large") {
    //   top: rem-calc(40);
    // }
    // @include breakpoint("xlarge") {
    //   top: rem-calc(0);
    // }

    &--active {
      display: block;
    }

    ::ng-deep {
      & > * {
        border-top: 1px solid #bbb;

        & a {
          display: block;
          padding: rem-calc(15) rem-calc(10);

          &:hover {
            background-color: $secondary-color;
            color: $white;
          }

          &.header-menu__active-link {
            background-color: $primary-color;
            color: $white;

            &:hover {
              background-color: $primary-color;
            }
          }
        }

        &:first-child {
          border: 0;
        }
      }
    }
  }
}
