<header class="content-layout__header">
  <div class="content-layout__header-left-side"><a (click)="goToHome()">
      <img class="content-layout__img" src="assets/images/header-logo.png" [alt]="'HEADER_TITLE' | translate" /></a>
  </div>
  <!--<div class="content-layout__header-search" *ngIf="!home">
    <m-search-input></m-search-input>
  </div>-->
  <div class="content-layout__header-right-side " >
    <m-header-menu iconSizeStyle="header-menu__img-menu" icon="assets/images/icons/menu.png">
      <li *ngIf="canViewGestionPedidosMenu">
        <m-header-submenu-gestion-pedidos iconSizeStyle="header-menu__img-menu" icon="assets/images/icons/menu.png">
          <a *ngIf="canViewPedidosActivos" [routerLink]="['/gestionPedidos/pedidosActivos']" [routerLinkActive]="['header-menu__active-link']">
            {{ 'MENU_ENTRY.PEDIDOS_ACTIVOS' | translate }}
          </a>
          <a *ngIf="canViewPedidosValidador" [routerLink]="['/gestionPedidos/pedidosValidador']" [routerLinkActive]="['header-menu__active-link']">
            {{ 'MENU_ENTRY.PEDIDOS_VALIDADOR' | translate }}
          </a>
          <a *ngIf="canViewPedidosHistorico" [routerLink]="['/gestionPedidos/pedidosHistorico']" [routerLinkActive]="['header-menu__active-link']">
            {{ 'MENU_ENTRY.PEDIDOS_HISTORICO' | translate }}
          </a>
        </m-header-submenu-gestion-pedidos>
      </li>
      <li *ngIf="canViewFirmador">
        <a [routerLink]="['/firmadorDocs']" [routerLinkActive]="['header-menu__active-link']">
          {{ 'MENU_ENTRY.FIRMADOR_DOCS' | translate }}
        </a>
      </li>
      <li *ngIf="canViewMaintenanceUsers">
        <a [routerLink]="['/users']" [routerLinkActive]="['header-menu__active-link']">
          {{ 'MENU_ENTRY.USUARIOS' | translate }}
        </a>
      </li>
    </m-header-menu>
    <m-header-menu iconSizeStyle="header-menu__img-user" icon="assets/images/icons/user-header.png">
      <li *ngIf="loginData?.nombre">
        <a>
          {{loginData?.nombre}}
        </a>
      </li>
      <li>
        <a (click)="logout()">
          {{ 'LOGIN_LOGOUT' | translate }}
        </a>
      </li>
    </m-header-menu>
  </div>
</header>
<div class="content-layout__body">
  <router-outlet></router-outlet>
</div>
<footer class="content-layout__footer">
  <div class="content-layout__footer-left-side">
    <img height="23" with="23" src="assets/images/footer-logo.png" />
    <span>{{ 'FOOTER_COMPANY' | translate }}</span>
  </div>
  <div class="content-layout__footer-rigth-side" [innerHTML]="'FOOTER_COPYRIGHT' | translate | safeHtml"></div>
</footer>
