@import "~src/styles/base/index";

:host {
  display: table-row;
  cursor: pointer;

  &.row--hover {
    ::ng-deep {
      .cell__highlight {
        background-color: rgba($light-blue, 0.75);
      }
    }
  }
  &:nth-child(odd) {
    background-color: #f2f2f2;
  }
  &:nth-child(even) {
    background-color: #fbfbfb;
  }
  &.row--total {
    background-color: rgba($color: #000000, $alpha: 0.15);
  }
  &.row--expiredDate {
    background-color: #0f4dbc3b;
  }
  &.row--selected {
    background-color: #0f4dbc80;
  }
  &.row--addFiles {
    height: 36px;
    background-color: #0f4dbc3b;
    width: 100%;
  }
  &.row--isMessage {
    height: 214px;
    background-color: $light-blue !important;
  }
  &.row--isGrup {
    background-color: #0f94bc3b;
  }
  &.row--isSelectedGrup {
    background-color: #0f4dbc80;
  }
  &.row--isNoAplicaRow {
    background-color: rgba(145, 209, 235, 0.26);
    --cell-text-color: rgb(145, 129, 129);
    cursor: default;
  }
  &.row--isNoAplicaSelectedRow {
    background-color: #6799ee80;
    --cell-text-color: rgb(145, 129, 129);
  }
  &.row--isDisabledRow {
    background-color: #e0e0e0ad;
    --cell-text-color: rgb(145, 129, 129);
    cursor: default;
  }
  &.row--isDisabledSelectedRow {
    background-color: #8d8d8d80;
    --cell-text-color: rgb(145, 129, 129);
  }
  &.row--isDisabledComentsRow {
    height: 36px;
    background-color: #e0e0e0ad;
    width: 100%;
  }
  &:hover {
		background-color: rgba($color: #000000, $alpha: 0.3);
  }
  &.row--scroll {
    .row {
      transition: background-color 0.5s ease;
    }
    background-color: #cbffd6;
  }
}
