<div class="home__search">
  <form class="home__box">
    <label for="home-search" class="home__label">{{ 'FILE_UPLOAD.TITLE' | translate }}</label>
    <div class="home__searcher">
      <input id="home-search" class="home__input" placeholder="{{ 'SEARCH_BY_TR_AND_BY_FACNUM' | translate }}" type="text" name="s"
        [(ngModel)]="search" (keyup)="onKeyDownHandler($event)"/>
      <button class="home__button" type="submit" (click)="submit()" [value]="'SEARCH_ACTION' | translate"></button>
    </div>
  </form>
</div>
<nav class="home__nav">
  <ul class="home__links">
    <li *ngIf="canViewGestionPedidosMenu">
      <a [routerLink]="['gestionPedidos']" class="home__link home__link--gestionPedidos">
        <span [innerHTML]="'MENU_ENTRY.GESTION_PEDIDOS' | translate | homeLinkLastWord"></span>
      </a>
    </li>
    <li *ngIf="canViewFirmador">
      <a [routerLink]="['firmadorDocs']" class="home__link home__link--firmadorDocs">
        <span [innerHTML]="'MENU_ENTRY.FIRMADOR_DOCS' | translate | homeLinkLastWord"></span>
      </a>
    </li>
    <li *ngIf="canViewMaintenanceUsers">
      <a [routerLink]="['users']" class="home__link home__link--maintenance">
        <span [innerHTML]="'MENU_ENTRY.USUARIOS' | translate | homeLinkLastWord "></span>
      </a>
    </li>
  </ul>
</nav>